In [9]:
import pandas as pd

# Converting our sk file

In [44]:
import re
pattern = r"\w+\((\d+)\,\d+\,\'(\w+)\%\d+\:(\d+)"

sks = []
with open("wn_sk.pl", 'r') as f:
    for line in f:
        match = re.search(pattern=pattern, string=line)
        if match:
            sks.append(f"sk({match.group(1)}, '{match.group(2)}', {match.group(3)}).\n")

In [45]:
with open("wn_sk_ruben.pl", 'w') as f:
    for sk in sks:
        f.write(sk)

# Adding Semantic Rules

In [47]:
dictionary = pd.read_csv("./dictionary.csv")
translator = dict(zip(dictionary["Name"], dictionary["File Number"]))

In [48]:
df = pd.read_csv("subject_verb_object.csv")
df

        Subject              Verb         Object
0   noun.animal  verb.consumption     noun.plant
1   noun.animal  verb.consumption      noun.food
2   noun.animal      verb.emotion   noun.feeling
3   noun.person    verb.cognition  noun.artifact
4   noun.person   verb.possession  noun.artifact
5   noun.person     verb.creation  noun.artifact
6   noun.animal      verb.stative  noun.location
7   noun.person      verb.stative  noun.location
8   noun.person  verb.consumption      noun.food
9   noun.person       verb.motion  noun.location
10  noun.animal       verb.motion  noun.location

In [50]:
aux = df.copy()
for col in aux.columns:
    aux[col] = aux[col].map(translator)
aux

    Subject  Verb  Object
0         5    34      20
1         5    34      13
2         5    37      12
3        18    31       6
4        18    40       6
5        18    36       6
6         5    42      15
7        18    42      15
8        18    34      13
9        18    38      15
10        5    38      15

In [55]:
with open("svo.pl", 'w') as f:
    for line in aux.values:
        f.write(f"s_v_o({line[0]}, {line[1]}, {line[2]}).\n")